/.session
/session.*
\#*
*~
/custom.el
/ac-comphist.dat
/bookmarks
/.bookmarks.el
.cache/
/elpa
/elpa-*
/eshell
/tramp
/recentf
/.mc-lists.el
/projectile-bookmarks.eld
/anaconda-mode/
cookies
/history
site-lisp/package/
/.lsp-session-v1
/eshell
.DS_Store/